body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
   
    color: #3E3F5B;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px auto 50px;
    width: 100%;
    row-gap: 10px;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: #C7D9DD;
}
.text{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
}